*{
	margin: 0;
	padding: 0;
}
.foto{
	margin-top: px;
	border-radius: 40%;
	margin-top: -20px;
}
.light{
	padding-left: 40px;
}
.col{
	margin-top: -30px;
}
.card{
  
   height: 200px;
   border-radius: 7px;
   margin-bottom: 40px;
  


}
.material-icons{
   font-size: 50px;

}
.label{
   margin-bottom: 110px;
}
.fot{
   margin-top: -20px;
}

.card .judul{
	margin-left: -50%;
}
